<!DOCTYPE html>
<html>
  <head>
    <title>YouTwobe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="shortcut icon" href="#">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.YouTubeLogoURL = "<%= image_url('YouTubeLogo.svg') %>";
    </script>

<%# LOCAL SOURCE %>
    <script type="text/javascript">
      window.rainPURL = "<%= image_url('rainP.png') %>";
    </script>
    <script type="text/javascript">
      window.rainURL = "<%= image_url('rain.mp4') %>";
    </script>
    <script type="text/javascript">
      window.squirrelPURL = "<%= image_url('squirrelP.png') %>";
    </script>
    <script type="text/javascript">
      window.squirrelURL = "<%= image_url('squirrel.mp4') %>";
    </script>

    <% if current_user %>
      <script>
        window.currentUser = {
          "id": <%= current_user.id %>,
          "username": "<%= current_user.username %>",
          "email": "<%= current_user.email %>"
        };

      </script>
    <%end %>
          

  </head>

  <body>
    <%= yield %>
  </body>
</html>
